body {
    color:white;
    background-color: black;
}

header {
    background-color: blue;
}

h2 {
    background-color: bisque;
    color:black;
}

h3 {
    background-color: bisque;
    color:black;
}

.info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}